@media (max-width: 1279px)  {
  .rukja{
    margin-left: -50px;
    padding-left: 0;
    padding-right: 0;
    margin-right: -50px;
  }
  }

  @media (min-width :1521px){
    .rukja{
      padding-right: 4pc;
    }
  }


